:root {
    --gray-1: #191C1f;
    --gray-2: #212529;
    --gray-3: #343a40;
    --gray-4: #adb5bd;
    --gray-5: #ced4da;
    --gray-6: #edf2ff;
    --gray-7: #f8f9fa;

    --title-1-font-weight: 600; 
    --title-1-font-size: 52px; 
    --title-1-line-height: 140%;
    --title-2-font-weight: 600; 
    --title-2-font-size: 35px; 
    --title-2-line-height: 160%;
    --title-3-font-weight: 600; 
    --title-3-font-size: 32px; 
    --title-3-line-height: 160%;
    --text-1-font-weight: 400; 
    --text-1-font-size: 20px; 
    --text-1-line-height: 150%;
    --text-2-font-weight: 400; 
    --text-2-font-size: 18px; 
    --text-2-line-height: 150%;
    --text-3-font-weight: 400; 
    --text-3-font-size: 16px; 
    --text-3-line-height: 150%;
    --text-4-font-weight: 600; 
    --text-4-font-size: 16px; 
    --text-4-line-height: 150%;

    --brand-1: #4c6ef5;
    --brand-2: #364fc7;
}



